


* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#images-track{
    display: flex;
    position: absolute;
    gap: 1.7rem;
    user-select: none;
    left: 50%;
    /* transform: translate(0%, 0%); */
}

.image-1{
    background-image: url('https://images.unsplash.com/photo-1681532639984-edb0790487d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1852&q=80');
}
.image-2{
    background-image: url('https://images.unsplash.com/photo-1682001426601-c7fdc9ea5b4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.image-3{
    background-image: url('https://images.unsplash.com/photo-1676636936354-b2ba67b5321c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}
.image-4{
    background-image: url('https://images.unsplash.com/photo-1681979376562-033637103f90?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80');
}
.image-5{
    background-image: url('https://images.unsplash.com/photo-1681644784309-2b388ff4c984?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
}
.image-6{
    background-image: url('https://images.unsplash.com/photo-1681316151065-f75049d1b7ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1341&q=80');
}
.image-7{
    background-image: url('https://images.unsplash.com/photo-1672625603114-441290cf121f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}


.cadre{
    /* Container */
    height: 80vh;
    aspect-ratio: 9/14;
    overflow: hidden;

    /* Background */
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}


#images-track > .cadre > .image{
    width: auto;
    height: 115%;
    object-fit: cover;
    object-position: 50% 50%;
}